@import 'tailwindcss/base';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');



* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  
  
}

.img-cont{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  opacity: 1;
}

.logo{
  margin-left: 60px;
  
}

.gradient-bg-hero {
  background-color: #151c25;
  background-image: radial-gradient(
      at 0% 0%,
      hsl(302deg 25% 18%) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsl(0deg 39% 30%) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

.radial-dark{
  background-color: #151c25;;
}

.gradient-bg-artworks {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 50% 50%,
      hsl(302deg 25% 18%) 0,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 50%, hsla(339, 39%, 25%, 1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #151c25;
  background-image: radial-gradient(
      at 0% 100%,
      hsl(0deg 39% 30%) 0,
      transparent 53%
    ),
    radial-gradient(at 50% 150%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.nav-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  

}
.nav-menu li{
  cursor: pointer;
  color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  margin-left: 54px;
  list-style: none;
}

.nav-menu li:first-child{
  margin-left: 154px;
}

.lf-nav-widget{
  display: flex;
  flex-direction: row;
}

.rt-nav-widget{
  display: flex;
  
  
}

.header-btn{
  cursor: pointer;
  background-color: rgb(235, 106, 128);
  color: white;
  height: 70px;
  width: 230px;
    box-shadow: 0 22px 9px rgba(14, 14, 24, 0.4);
  margin-top: 40px;
  margin-right: 140px;
  margin-left: 54px;
  border-radius: 50px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 600;
  font-size: 23px;
}

.header-btn:hover {
  transform: scale(1.05); 
  background-color: rgb(221, 88, 110);
}

.gig-title{
  color: white;
  margin-right: 170px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  font-size: 30px;
}

.nft{
  background-image: linear-gradient(to right, hsla(339, 49%, 30%, 0.5), #f06, #9f6, white);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
} 

.bd-gig{
  display: flex;
  flex-direction: row;
}

.gig-title h1{
  margin-left: 70px;
}

.gig-title p{
  
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-top: -30px;
  
  margin-left: 70px;
  opacity: 0.6;
}

.create-token
{
  cursor: pointer;
  background-color: rgb(235, 106, 128);
  color: white;
  height: 70px;
  width: 230px;
  box-shadow: 0 22px 9px rgba(14, 14, 24, 0.4);
  margin-top: 2px;
  margin-left: 68px;
  margin-right: 140px;
  border-radius: 50px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 600;
  font-size: 23px;
  margin-bottom: 30px;
}

.create-token:hover {
  transform: scale(1.05); 
  background-color: rgb(221, 88, 110);
}

.standards{
  display: flex;
  flex-direction: row;
  max-width: 130px;
  justify-content: space-between;
  margin-left: 70px;
  margin-top: -30px;
  color: white;
  font-size: 20px;
  
  
}

.right-center{
  display: flex;
  flex-wrap: wrap;
  color: white;
  background-color: rgba(14, 14, 24, 0.4);
  margin-left: 00px;
  margin-top: 80px;
  z-index: 2;
  margin-bottom: 30px;
  border-radius: 2%;
  
}
.img-one img{
  margin-bottom: 20px;
}

.right-center div{
  display: flex;
  flex-direction: column;
}

.standards span{
  margin-right: 160px;
}

.inline-identicon{
  display: flex;
  padding-left: 20px;
  padding-bottom:15px;
  height: 70px;
  
}

.i-con{
  margin-top: 14px;
  margin-left: 10px;
}

.inline-identicon .wn-2{
  display:flex;
  flex-direction:row;
  margin-top: 0px;
  margin-left: 0px;
  
  
}

.circle{
  background-color: rgb(51, 131, 165);
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.avatar-text{
  display: flex;
}

.avatar-text .id{
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  margin-left: 100px;
  
}

.hold-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  height: 940px;
  margin-top: -200px;
  padding-left: 80px;
  padding-right: 850px;
  overflow: hidden;
  cursor: pointer;
}

.hold-card .card {
  display: inline;
  white-space: pre-wrap;
  height: 340px;
  width: 500px;
  color: white;
  object-fit: cover;
  margin-left: 64px;
  width: calc(100% / 3);
}

.hold-card .card:first-child{
  margin-left: 10px;
}

.custom-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.btn-primary{
  cursor: pointer;
  background-color: rgb(235, 106, 128);
  color: white;
  height: 70px;
  width: 230px;
    box-shadow: 0 22px 9px rgba(14, 14, 24, 0.4);
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 50px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 600;
  font-size: 23px;
  
}

.btn-primary:hover{
  transform: scale(1.05); 
  background-color: rgb(221, 88, 110);
}

.card-footer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.trans-con {
  display: flex;
  justify-content: center; /* Center the row horizontally */
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px; /* Set a maximum width for the row */
  margin-top: 40px;
  margin: 10 auto; /* Center the row within the container */
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  
}

.item {
  display: flex;
  
   align-items: center;
  margin: 10px; /* Add spacing between items */
  box-sizing: border-box;
  width: 500px;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 1px;
  text-align: center;
  border-color: rgb(235, 106, 128);
}

.item span{
  display: flex;
  flex-direction: row;
}

.tr-logo{
  border: 2px solid #000;
  border-top: 0px;
  border-radius: 8px;
  border-color: rgb(235, 106, 128);
  margin: 20px 8px;
}

.tr-txt{
  display: flex;

}

.tr-txt div{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  color: white;
  
}

.load-more{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(235, 106, 128);
  color: white;
  height: 70px;
  width: 230px;
    box-shadow: 0 22px 9px rgba(14, 14, 24, 0.4);
  margin-top: 40px;
  margin-left: 640px;
  border-radius: 50px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 600;
  font-size: 23px;
}

.load-more:hover{
  transform: scale(1.05); 
  background-color: rgb(221, 88, 110);
}

.transactions{
  display: flex;
  flex-wrap: wrap;;
}

.copyright{
  font-size: 25px;
  margin-top: -8px;
  color: white;
  padding:5px 20px;
}


.cross:hover{
  transform: scale(1.1);
}

.MintForm .block-title{
  position: absolute;
  font-size: 30px;;
  color:red;
  margin-top: 50px;
  width:400px;
  height:20px;
  margin-top: -50px;
}



/* MintForm Container */
.MintForm {
 position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-top: -640px;
  position: fixed; /* Use position: fixed; */
  width: 4000px;
  height: 10px;
  top: 90%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the element */
  z-index: 999; /* Add a high z-index value */
 
}

/* Form Container */
.MintForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #151c25;
  background-image: radial-gradient(
      at 0% 100%,
      hsl(311, 51%, 53%) 0,
      transparent 53%
    ),
    radial-gradient(at 100% 150%, rgb(223, 19, 90) 0, transparent 50%);
  border-radius: 10px;
  box-shadow: 0 42px 1118px rgba(90, 90, 190, 0.4);
  padding: 20px;
  padding-top: 60px;
  border-top: 2px solid rgb(221, 88, 110);
  width: 80%;
  max-width: 500px;
}

/* Form Labels */
.MintForm label {
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
}

/* Form Inputs */
.MintForm .form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.prof-pic,
#phone-number,
#email,
#inquiry{
  
  width: 240px;
  border-radius: 13px;
}

#inquiry {
  position: relative; 
  padding-bottom: 60px; 
}

#inquiry::placeholder {
  position: absolute; 
  top: 10px; 
  left: 10px; 
  font-size: 14px;
  
}

.MintForm input[type="text"],
.MintForm input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Submit Button */
.MintForm .contact-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: -30px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.MintForm .contact-btn:hover {
  background-color: #0056b3;
}

/* Spacing */
.MintForm br {
  margin: 10px 0;
}

.MintForm .form-input input[type="file"]::-webkit-file-upload-button {
  font-size: 16px; /* Adjust the font size to increase the button size */
  padding: 12px 20px; /* Adjust padding to increase button size */
  background-color: white; /* Button background color */
  color: black; /* Button text color */
  border: none;
  border-radius: 35px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.MintForm .form-input input[type="file"]::-webkit-file-upload-button::before {
  content: 'Custom Browse'; /* Change the text as desired */
  display: inline-block;
  font-size: 96px;
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 5px; /* Adjust spacing between the button and the text */
}

.MintForm .form-input input[type="file"]::-webkit-file-upload-button:hover::before {
  background-color: #0056b3;
}

.MintForm .form-input:last-child {
  margin-bottom: 0;
}



.p-con {
  position: relative;
  display: none;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 100%;
  max-width: 700px;
  height: 500px;
  margin: 0 auto;
  position: fixed;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 40px 110px rgb(221, 88, 110, 0.7);
  overflow-y: auto;
  
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the element */
  z-index: 999; /* Add a high z-index value */
 
}

.p-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.p-img img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.p-desc {
  margin-bottom: 2px;
}

.p-own {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.p-id {
  display: flex;
  align-items: center;
}

.i-con {
  margin-right: 10px;
}

.p-eth h2 {
  margin: 0;
}

.p-foot {
  display: flex;
  justify-content: space-between;
}

.purchase,
.chgPrice {
  cursor: pointer;
  background-color: #eb6a80;
  color: white;
  height: 50px;
  width: 265px;;
  border: none;
  border-radius: 25px;
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.3s;
}

.purchase:hover,
.chgPrice:hover {
  background-color: #dd586e;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .p-con {
    padding: 15px;
  }

  .purchase,
  .chgPrice {
    width: 100%;
  }
}





.text-gradient {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;